SELF_GRPC_PORT=:5305
SERVER_MODE=debug

MANDRILL_HOST=smtp.mandrillapp.com
MANDRILL_PORT=587
MANDRILL_API_KEY=test

TEMPLATE_PATH=internal/template/

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=25
SMTP_PASSWORD=ttitQWEasd123
FROM=dev-bot@untypeoff.ru

KAFKA_BROKER_1=kafka:9094
TOPIC_USER_REGISTER=user_register